@tailwind base;
@tailwind components;
@tailwind utilities;

.directory-list ul {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.directory-list li {
  list-style: none;
  color: #888;
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
}

.directory-list a {
  border-bottom: 1px solid transparent;
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}

.directory-list a:hover {
  border-color: #eee;
  color: #000;
}

.directory-list .folder,
.directory-list .folder > a {
  color: #777;
  font-weight: bold;
}
