@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.tree, .section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tree {
  padding: 1em;
  background: #151a1f;
}
.tree li {
  /* border-bottom: 1px solid #d2d2d2; */
  padding: 5px 0 5px 0;
  margin-left: 3ch;
}
.tree li:last-child {
  border: 0;
}

.section ul { display: none; }
.section input:checked ~ ul { display: block; }

/* .section input[type=checkbox] { display: none; } */
.section label:hover { 
  cursor: zoom-in; 
}
.section input:checked + label:hover {
  cursor: zoom-out;
}

/* .section ul { margin-top: 1ch; } */
.section ul li a {
  color: cadetblue;
  text-decoration: underline;
}

.folder-checkbox {
  transform: scale(1.5); /* Scale the checkbox */
}